[submodule "vim/plugged/YouCompleteMe"]
	path = vim/plugged/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/plugged/nerdcommenter"]
	path = vim/plugged/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/plugged/supertab"]
	path = vim/plugged/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/plugged/syntastic"]
	path = vim/plugged/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/plugged/ultisnips"]
	path = vim/plugged/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/plugged/vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/plugged/vim-go"]
	path = vim/plugged/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/plugged/vim-snippets"]
	path = vim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/plugged/vim-gitgutter"]
	path = vim/plugged/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
